# Ignore and don't commit the following directories

# Ignore and don't commit the following files
/*.pyc
/package/*.pyc
/package/generator/*.pyc
/package/parser/*.pyc
/package/schema/*.pyc
/package/validator/*.pyc
/static/csv/login_activity.csv
